/*    Both    */

html, body {
	box-sizing: border-box;
	
	margin: 0;
	padding: 0;
	
	font-family: "Cuprum", "Times New Roman", sans-serif;
	line-height: 30px;
	font-size: 30px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	text-transform: none;
	
	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.visually-hidden:not(:focus):not(:active) {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/*		index.html		*/
.red-btn {
	margin: 0;
	padding: 0;
	border: 0;
	
	font-family: "Cuprum", "Times New Roman", sans-serif;
	line-height: 18px;
	font-size: 14px;	
	color: #ffffff;
	text-transform: uppercase;	

	background-color: #ee3643;
}

.red-btn:hover {
	background-color: #ca2c37;
}

.red-btn:active {	
	background-color: #ba2732;
}

.header-main {
	background-color: #f1f5f7;	
}

.header-main-top {
	color: #ffffff;
	
	background-color: #293449;
}

.site-logo {
}

.site-logo .site-logo__btn {
	line-height: 24px;
	font-size: 24px;
	color: #ffffff;
	text-transform: uppercase;
	
	background-color: #ee3643;
}

.site-logo .site-logo__btn:hover {
	background-color: #ca2c37;
}

.site-logo .site-logo__btn:active {
	background-color: #ba2732;
}

.search-form {	
	background-color: #293449;
}

.search-form .search-form__input {
	border: 0;
	 padding: 0;
	
	font-family: "Cuprum", "Times New Roman", sans-serif;
	line-height: 17px;
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	color: #ffffff;
	
	background-color: #293449;
}

.search-form .search-form__input:hover {	
	background-color: #212a3a;
}

.search-form .search-form__input:focus {
	color: #000000;
	
	background-color: #ffffff;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #ffffff;
}
::-moz-placeholder { /* Firefox 19+ */
	color: #ffffff;
}
:-ms-input-placeholder { /* IE 10+ */
	color: #ffffff;
}

.user-tools {
	list-style: none;
}

.user-tools .user-tools__item {
	line-height: 17px;
	font-size: 18px;
	color: #ffffff;
	
	background-color: #293449;	
}

.user-tools .user-tools__item:hover {	
	background-color: #212a3a;
}

.user-tools .user-tools__item:active {
	color: rgba(255,255,255, 0.6);
	
	background-color: #161d29;
}

.user-tools .user-tools__item--green {
	background-color: #6db254;
}

.user-tools .user-tools__item--green:hover {
	background-color: #5fbb2d;
}

.user-tools .user-tools__item--green:active {
	background-color: #518534;
}

.user-tools .user-tools__item--red {	
	background-color: #ee3643;	
}

.user-tools .user-tools__item--red:hover {	
	background-color: #ca2c37;	
}

.user-tools .user-tools__item--red:active {
	background-color: #ba2732;	
}





.header-main-middle {
}

.site-description {
	line-height: 16px;
	font-size: 23px;
	color: #ee3643;
}

.header-main-contacts {
}

.header-main-phone {
	line-height: 25px;
	font-size: 21px;
	color: #ee3643;
}

.header-main-address {
	line-height: 25px;
	font-size: 21px;
	color: #32425c;
}

.navigation-main {
}

.main-menu-list {
	list-style: none;
	background-color: #32425c;
}

.main-menu-list .main-menu-list__item {
	line-height: 20px;
	font-size: 17px;
	color: #ffffff;
	
	background-color: #32425c;
}

.main-menu-list .main-menu-list__item:hover {
	background-color: #293449;
}

.main-menu-list .main-menu-list__item:active {
	color: rgba(255,255,255, 0.5);
	
	background-color: #1d2739;
}

.promo {
}

.promo-item {		
}

.promo-item .promo-item__title{	
	line-height: 30px;
	font-size: 24px;
	font-weight: bold;	
	color: #ffffff;
}

.promo-item .promo-item__btn{	
	line-height: 18px;
	font-size: 14px;	
	color: #ffffff;
	text-transform: uppercase;
	
	background-color: rgba(0,0,0, 0.1);
}

.promo-item .promo-item__btn:hover{	
	background-color: rgba(0,0,0, 0.2);
}

.promo-item .promo-item__btn:active{	
	background-color: rgba(0,0,0, 0.3);
}

.promo-item--materials {	
	background-color: #ffbf47;
}

.promo-item--tools {	
	background-color: #3bbce3;
}

.promo-item--technique {	
	background-color: #dc91d8;
}

.promo-item--discount {	
	background-color: #8ed78f;
}

.promo-item--shipping {	
	background-color: #ffc047;
}


.promo-slide {
	position: relative;
	
	color: #ffffff;
	
	background-color: #000000;
}

.promo-slide .promo-slide__title {
	position: absolute;
	top: 22px;
	left: 24px;
	
	margin: 0;
	padding: 0;
	
	line-height: 43px;
	font-size: 36px;	
	text-transform: uppercase;	
}
.promo-slide .promo-slide__description {
	position: absolute;
	top: 63px;
	left: 24px;
	
	margin: 0;
	padding: 0;
	
	font-family: "PT Sans", "Times New Roman", sans-serif;
	line-height: 22px;
	font-size: 18px;	
}

.promo-slides {
}

.promo-slides .slider-btn {
	font-size: 0;
}

.popular-products {
	
}

.popular-products .popular-products__title,
.popular-manufacturers .popular-manufacturers__title {
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	font-weight: normal;
	text-transform: uppercase;
}

.products,
.manufacturers {
	list-style: none;
}

.product {
	font-family: "PT Sans", "Times New Roman", sans-serif;
	color: #000000;
	
	background-color: #ffffff;
}

.product .product__title {
	line-height: 20px;
	font-size: 18px;
	font-weight: bold;
}

.product .product__price {
	line-height: 18px;
	font-size: 17px;	
}

.product .product__discount {
	color: #a9a9a9;
	
	text-decoration: line-through;
}

.product .product__cost {
	display: block;
	
	position:relative;
	
	width: 122px;
	height: 38px;
	
	color: #ffffff;
	
	background-color: #ee3643;
}

/*!-- Decoration -> */

.product .product__cost::after {
	content: "";
	position: absolute;
	
	border: 19px solid transparent;
	border-left-color: #ee3643;
	right: -38px;
}

/* Decoration -> --!*/
.popular-manufacturers {
	
}

.manufacturer {
	display: block;
	
	width: 222px;
	height: 145px;
	
	border: 1px solid #eaeaea;
}

.services {
	background-color:#f4f8f9;
}

.services .services__title {
	line-height: 24px;
	font-size: 30px;
	font-weight: normal;
	text-transform: uppercase;	
}

.services .services__description {
	font-family: "PT Sans", "New Times Roman", serif;
	line-height: 24px;
	font-size: 13px;	
}

.service-slides {
	
}

.service-slides .service-slide__title {
	line-height: 24px;
	font-size: 36px;
	color: #32425c;
	font-weight: normal;
	text-transform: uppercase;	
}

.service-slides .service-slide__description {
	line-height: 24px;	
	font-size: 13px;
}

.service-slider-controls {
	list-style: none;
}

.service-slider-controls .service-slider__btn {
	color: #ffffff;
	
	background-color: #32425c;
}

.service-slider-controls .service-slider__btn:hover {
	background-color: #293449;	
}

/*!-- non a11y slider --!*/
.service-point-1,
.service-point-2,
.service-point-3 {
	display: none;
} 

.service-point-1:checked ~ .service-slider__btn--1,
.service-point-2:checked ~ .service-slider__btn--2,
.service-point-3:checked ~ .service-slider__btn--3 {
	color: #32425c;
	
	background-color: #ffffff;	
}

.container-about-company {
	
}

.company-technomart {

}

.company-technomart .company-technomart__title,
.main-contacts .main-contacts__title{
	line-height: 24px;
	font-size: 30px;
	font-weight: normal;
	text-transform: uppercase;
}

.company-technomart .company-technomart__description {
	line-height: 18px;
	font-size: 14px;	
}

.routes-list {
	list-style: none;
}

.routes-list .routes-list__item {
	line-height: 20px;
	font-size: 18px;	
}

.main-contacts {
	
}

.main-contacts .main-contacts__description {
	line-height: 24px;
	font-size: 13px;	
}

.footer-main {
	color: #ffffff;
	
	background-color: #32425c;
}

.footer-menu-upper,
.footer-menu-lower {
	list-style: none;
	background-color: #32425c;	
}

.footer-menu-upper .footer-menu-upper__item,
.footer-menu-lower .footer-menu-lower__item {
	line-height: 22px;
	font-size: 18px;	
	color: #ffffff;
	
	background-color: #32425c;
}

.footer-menu-lower .footer-menu-lower__item {
	color: #ffd180;
}

.footer-menu-upper .footer-menu-upper__item:hover,
.footer-menu-lower .footer-menu-lower__item:hover {
	text-decoration: underline;
}

.footer-menu-upper .footer-menu-upper__item:active {
	color: rgba(255,255,255, 0.5);
	
	text-decoration: none;
}

.footer-menu-lower .footer-menu-lower__item:active {
	color: rgba(255,209,128, 0.5);
	
	text-decoration: none;
}

.footer-main-contacts {
	line-height: 24px;
	font-size: 18px;
}

.footer-main-bottom {
	line-height: 18px;
	font-size: 16px;
	color: #ffffff;
	
	background-color: #293449;
}

.footer-copyright-technomart {
	line-height: 19px;
	font-size: 16px;	
}

.footer-social {
	list-style:none;
	
}

.footer-social .footer-social__btn {
	line-height: 22px;
	font-size: 18px;	
	color: #ffffff;
	
	background-color: #212a3a;
}

.footer-social .footer-social__btn:hover,
.footer-social .footer-social__btn:active {
	background-color: #ee3643;
}

.footer-feedback {
	
}

.footer-feedback .footer-feedback__btn,
.footer-copyright-htmlacademy .footer-copyright-htmlacademy__btn {
	color: #ffd180;	
}

.footer-feedback .footer-feedback__btn:hover,
.footer-copyright-htmlacademy .footer-copyright-htmlacademy__btn:hover {
	text-decoration: underline;	
}

.footer-feedback .footer-feedback__btn:active,
.footer-copyright-htmlacademy .footer-copyright-htmlacademy__btn:active {
	color: #ee3643;	
	
	text-decoration: none;
}

.footer-copyright-htmlacademy {
	
}


.hover-product {
	background-color: #ffffff;
}

.hover-product .hover-product__buy {
	margin:0;
	padding:0;
	border:0;
	
	font-family: "Cuprum", "Times New Roman", sans-serif;
	line-height: 18px;
	font-size: 14px;
	color: #ffffff;	
	text-transform: uppercase;

	background-color: #63a63e;
}

.hover-product .hover-product__buy:hover {
	background-color: #5fbb2d;
}

.hover-product .hover-product__buy:active {
	background-color: #518534;
}

.hover-product .hover-product__bookmark {
	margin:0;
	padding:0;
	border: 3px solid #63a63e;
	
	font-family: "Cuprum", "Times New Roman", sans-serif;
	line-height: 17px;
	font-size: 14px;
	color: #000000;	
	text-transform: uppercase;	
	
	background-color: #ffffff;
}

.hover-product .hover-product__bookmark:hover {
	border: 3px solid #32425c;
}

.hover-product .hover-product__bookmark:active {
	border: 3px solid rgba(0,0,0, 0.3);
	
	color: rgba(0,0,0, 0.3);
}


/*		catalog.html		*/

.user-login {

}

.user-login .user-login__btn {
	margin:0;
	padding:0;
	border:0;
	
	font-family: "Cuprum", "Times New Roman", sans-serif;
	line-height: 18px;
	font-size: 16px;
	color: #32425c;	

	background-color: #f3f7f9;
}

.user-login .user-login__btn:hover{
	color: #ee3643;
}

.user-login .user-login__btn:active{
	color: rgba(0,0,0, 0.3);
}

.user-login .user-login__btn--profil,
.user-login .user-login__btn--logof {
	line-height: 18px;
	font-size: 21px;
	color: #000000;	
	
	background-color: #ffffff;
}

.user-login .user-login__btn--orders,
.user-login .user-login__btn--acc {
	text-decoration: underline;
}

.breadcrumbs-list {
	list-style: none;
}

.breadcrumbs-list .breadcrumbs-list__item {
	line-height: 18px;
	font-size: 13px;	
}

.main-container__title {
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	font-weight: normal;
	text-transform: uppercase;
}

.filters {
	
}

.filters-title {
	font-family: "PT Sans", "New Times Roman", serif;
	line-height: 18px;
	font-size: 13px;
	font-weight: normal;
	text-transform: uppercase;
	
	background-color: #f7f3ec;
}

.form-filters {
	
}

.filter-price {
	
}

.filter-price .filter-price__title,
.filter-manufacturers .filter-manufacturers__title,
.filter-power .filter-power__title {
	font-family: "PT Sans", "New Times Roman", serif;
	line-height: 30px;
	font-size: 17px;
	font-weight: bold;
	text-transform: uppercase;	
}

.range-controls {
	background-color: #f7f3ec;
}

.price-controls {
	background-color: #f7f3ec;
}

.price-controls .price-controls__min,
.price-controls .price-controls__max {
	font-family: "PT Sans", "New Times Roman", serif;	
	line-height: 18px;
	font-size: 17px;
}

.filter-manufacturers {
	
}

.manufacturers-list,
.power-list {
	list-style: none;
}

.manufacturers-list .manufacturers-list__item,
.power-list .power-list__item {
	font-family: "PT Sans", "New Times Roman", serif;
	line-height: 20px;
	font-size: 14px;
	text-transform: uppercase;
}

.form-filters .form-filters__btn {
	margin: 0;
	padding: 0;
	border: 1px solid #e5e5e5;
	
	font-family: "PT Sans", "New Times Roman", serif;
	line-height: 18px;
	font-size: 13px;
	text-transform: uppercase;

	background-color: #ffffff;
}

.form-filters .form-filters__btn:hover {
	border: 1px solid #bdc6ca;
}

.form-filters .form-filters__btn:active {
	border: 1px solid #ee3643;
	
	outline: 0;
}

.sorting {
	background-color: #f7f3ec;
}

.sorting-title {
	font-family: "PT Sans", "New Times Roman", serif;
	line-height: 18px;
	font-size: 13px;
	font-weight: normal;	
	text-transform: uppercase;	
}

.sorting-list {
	list-style: none;
}

.sorting-list .sorting-list__item {
	font-family: "PT Sans", "New Times Roman", serif;
	line-height: 16px;
	font-size: 13px;
	font-weight: normal;
	color: rgba(0,0,0, 0.3);
	text-transform: uppercase;
	
	border-bottom: 1px dotted #ee3643;
}

.sorting-list .sorting-list__item:hover {
	border-bottom: 1px solid #ee3643;
}

.sorting-list .sorting-list__item:active {
	color: #ee3643;
	
	border-bottom: 0;
}

.catalog-perforators {
	
}

.pagination-list {
	list-style: none;
}

.pagination-list .pagination-list__item {
	border: 1px solid #e5e5e5;
	
	font-family: "PT Sans", "New Times Roman", serif;
	line-height: 16px;
	font-size: 13px;
	font-weight: normal;
}

.pagination-list .pagination-list__item:hover {
	border: 1px solid #bdc6ca;
}

.pagination-list .pagination-list__item:active {
	border: 1px solid #ee3643;
	
	color: #000000;
}

.pagination-list .pagination-list__item--current {
	color: #ffffff;
	
	background-color: #ee3643;
}

.about-perforators {
	
}

.about-perforators .about-perforators__title {
	line-height: 24px;
	font-size: 30px;
	font-weight: normal;
	text-transform: uppercase;	
}

.about-perforators .about-perforators__description {
	font-family: "PT Sans", "New Times Roman", serif;
	line-height: 24px;
	font-size: 13px;	
}

.modal-add {
	
}

.modal-add .modal-add__title{
	line-height: 18px;
	font-size: 30px;
}

.modal-add .modal-add__btn{
	line-height: 18px;
	font-size: 14px;
}