/*    Both    */

html,
body {
	min-width: 1200px;
	margin: 0;
	padding: 0;

	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
	font-family: "Cuprum", "Times New Roman", sans-serif;
	color: #000000;
	text-transform: none;
	font-style: normal;

	background-color: #ffffff;
}

a {
	margin: 0;
	padding: 0;

	text-decoration: none;

	overflow-wrap: break-word;
}

img {
	max-width: 100%;
	height: auto;
}

.promo-slide img {
	min-width: 620px;
	height: 266px;
}

.product img {
	min-width: 218px;
	height: 170px;
}

.manufacturer img {
	min-width: 218px;
	height: 143px;
}

.service-slide img {
	min-width: 630px;
	height: 284px;
}

.main-contacts img {
	min-width: 300px;
	height: 158px;
}

.visually-hidden:not(:focus):not(:active) {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;

	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
	font-family: "Cuprum", "Times New Roman", sans-serif;
	font-style: normal;
	white-space: nowrap;

	border: 0;

	clip: rect(0 0 0 0);
	        clip-path: inset(100%);

	-webkit-clip-path: inset(100%);
}

.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;

	border: 0;

	clip: rect(0 0 0 0);
}

.icon {
	position: absolute;
	left: 17px;

	opacity: 0.3;

	fill: #ffffff;
	pointer-events: none;
}

.red-btn {
	display: block;
	min-height: 18px;
	margin: 0;
	padding: 0;
	padding-top: 11px;
	padding-bottom: 9px;

	font-size: 14px;
	line-height: 18px;
	font-family: "Cuprum", "Times New Roman", sans-serif;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #ee3643;
	border: 0;
	border-radius: 3px;
	cursor: pointer;
}

.red-btn:hover {
	background-color: #ca2c37;
}

.red-btn:active {
	background-color: #ba2732;
}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

/*		index.html		*/

.header-main {
	min-height: 320px;
	margin-bottom: 59px;

	background-color: #f1f5f7;
}

.header-main-top {
	min-height: 42px;

	color: #ffffff;

	background-color: #293449;
}

.header-main-top-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 940px;
	min-height: 42px;
}


.site-logo {
	width: 220px;
	min-height: 32px;
	padding-top: 10px;

	font-size: 24px;
	line-height: 24px;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #ee3643;
	-webkit-box-shadow: 0 5px 0 0 #b52933;
	        box-shadow: 0 5px 0 0 #b52933;
}

.site-logo:hover {
	background-color: #ca2c37;
	-webkit-box-shadow: 0 5px 0 0 #9a212a;
	        box-shadow: 0 5px 0 0 #9a212a;
}

.site-logo:active {
	background-color: #ba2732;
	-webkit-box-shadow: 0 5px 0 0 #8e1e26;
	        box-shadow: 0 5px 0 0 #8e1e26;
}

.site-logo--footer {
	min-height: 45px;
	padding-top: 18px;

	font-size: 30px;
	line-height: 30px;
}

.site-logo--main {
	cursor: default;
}

.site-logo--main:hover {
	background-color: #ee3643;
	-webkit-box-shadow: 0 5px 0 0 #b52933;
	        box-shadow: 0 5px 0 0 #b52933;
}

.site-logo--main:active {
	background-color: #ee3643;
	-webkit-box-shadow: 0 5px 0 0 #b52933;
	        box-shadow: 0 5px 0 0 #b52933;
}

.search-form {
	position: relative;

	margin: 0;
	padding: 0;

	background-color: #293449;
}

.search-form .search-form__input {
	width: 221px;
	min-height: 41px;
	margin: 0;
	padding: 0;
	padding-bottom: 1px;
	padding-left: 49px;

	font-weight: normal;
	font-size: 18px;
	line-height: 17px;
	font-family: "Cuprum", "Times New Roman", sans-serif;
	color: #ffffff;
	font-style: normal;

	background-color: #293449;
	border: 0;
	outline: 0;
	cursor: pointer;
}

.search-form .search-form__input::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #ffffff;
}
.search-form .search-form__input::-moz-placeholder {
	/* Firefox 19+ */
	color: #ffffff;
}
.search-form .search-form__input:-ms-input-placeholder {
	/* IE 10+ */
	color: #ffffff;
}

.search-form .search-form__input:hover {
	background-color: #212a3a;
}

.search-form .search-form__input:hover ~ .search-form__icon {
	opacity: 1;
}

.search-form .search-form__input:focus {
	color: #000000;

	background-color: #ffffff;
}

.search-form .search-form__input:focus ~ .search-form__icon {
	opacity: 1;

	fill: #ee3643;
}

.search-form .search-form__icon {
	top: 12px;
	bottom: 13px;
}

.user-tools {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	    flex-wrap: wrap;
	width: 450px;
	margin: 0;
	padding: 0;

	list-style: none;

	-ms-flex-wrap: wrap;
}

.user-tools li {
	position: relative;

	margin: 0;
	padding: 0;
}

.user-tools .user-tools__item {
	display: block;
	min-height: 18px;
	padding-top: 12px;
	padding-bottom: 12px;

	font-size: 17px;
	line-height: 18px;
	color: #ffffff;

	background-color: #293449;
}

.user-tools .user-tools__item:hover {
	background-color: #212a3a;
}

.user-tools .user-tools__item:hover ~ .user-tools__icon {
	opacity: 1;
}

.user-tools .user-tools__item:active {
	color: rgba(255,255,255, 0.6);

	background-color: #161d29;
}

.user-tools .user-tools__item:active ~ .user-tools__icon {
	opacity: 0.5;
}

.user-tools .user-tools__item--bookmark {
	width: 106px;
	padding-left: 44px;
}

.user-tools .user-tools__item--cart {
	width: 100px;
	padding-left: 50px;
}

.user-tools .user-tools__item--checkout {
	width: 130px;
	padding-left: 20px;

	background-color: #63a63e;
}

.user-tools .user-tools__item--checkout:hover {
	background-color: #5fbb2d;
}

.user-tools .user-tools__item--checkout:active {
	background-color: #518534;
}

.user-tools .user-tools__item--red {
	background-color: #ee3643;
}

.user-tools .user-tools__item--red:hover {
	background-color: #ca2c37;
}

.user-tools .user-tools__item--red:active {
	background-color: #ba2732;
}

.user-tools .user-tools__icon {
	top: 12px;
}

.user-tools .user-tools__icon--cart {
	left: 18px;
}

.user-tools .user-tools__icon--bookmark {
	left: 17px;
}

.header-main-middle {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	min-height: 158px;

	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
}

.site-description {
	width: 200px;
	margin: 0;
	padding: 0;
	padding-top: 49px;
	padding-right: 48px;
	padding-left: 52px;

	font-size: 16px;
	line-height: 23px;
	color: #ee3643;
	font-style: italic;
}

.header-main-contacts {
	width: 300px;
	margin: 0;
	padding: 0;
	padding-top: 46px;
}

.header-main-phone {
	position: relative;

	display: block;
	width: 203px;
	min-height: 28px;
	margin-bottom: 4px;
	padding-top: 11px;
	padding-left: 71px;

	font-size: 21px;
	line-height: 18px;
	color: #ee3643;

	border: 3px solid #ffffff;
}

.header-main-phone::before {
	content: "";
	position: absolute;
	top: 10px;
	left: 12px;

	width: 18px;
	height: 19px;

	background-image: url(../img/icon-phone.svg);
	background-repeat: no-repeat;
}

.header-main-address {
	display: block;
	width: 270px;
	min-height: 28px;

	font-size: 14px;
	line-height: 24px;
	text-align: center;
	color: #32425c;
}

.user-login {
	width: 300px;
	padding-top: 46px;

	font-size: 0;
	text-align: right;
}

.user-login .user-login__btn {
	position: relative;

	display: inline-block;
	min-height: 32px;
	margin: 0;
	padding: 0;
	padding-top: 13px;

	font-size: 16px;
	line-height: 18px;
	font-family: "Cuprum", "Times New Roman", sans-serif;
	vertical-align: top;
	text-align: left;
	color: #32425c;

	background-color: #ffffff;
	border: 0;
	cursor: pointer;
}

.user-login .user-login__btn:hover {
	color: #ee3643;
}

.user-login__btn--auth:hover .user-login__icon--login,
.user-login__btn--logof:hover .user-login__icon--logoff,
.user-login__btn--name:hover .user-login__icon--name {
	fill: #32425c;
}

.user-login .user-login__btn:active {
	color: rgba(0,0,0, 0.3);
}

.user-login__btn--auth:active .user-login__icon--login,
.user-login__btn--logof:active .user-login__icon--logoff,
.user-login__btn--name:active .user-login__icon--name {
	fill: #c5c5c5;
}

.user-login .user-login__btn--auth,
.user-login .user-login__btn--reg {
	font-size: 21px;
	line-height: 18px;
	color: #000000;
}

.user-login .user-login__btn--auth {
	width: 73px;
	margin-right: 10px;
	padding-left: 48px;
}

.user-login .user-login__btn--reg {
	width: 150px;

	text-align: center;
}

.user-login .user-login__btn--name,
.user-login .user-login__btn--logof {
	font-size: 21px;
	line-height: 18px;
	color: #000000;

	background-color: #ffffff;
}

.user-login .user-login__btn--name {
	width: 198px;
	margin-right: 14px;
	padding-left: 47px;
}

.user-login .user-login__btn--logof {
	width: 40px;
	min-height: 45px;

	font-size: 0;
}

.user-login .user-login__btn--orders,
.user-login .user-login__btn--acc {
	padding: 0;

	font-size: 16px;
	line-height: 18px;
	color: #32425c;
	text-decoration: underline;

	background-color: #f2f6f8;
}

.user-login .user-login__btn--orders {
	width: 75px;
	min-height: 19px;
	margin-right: 32px;
}

.user-login .user-login__btn--orders::after {
	content: "";
	position: absolute;
	bottom: 8px;
	left: 90px;

	width: 0;
	height: 0;

	border: 2px solid #32425c;
	border-radius: 50% 50%;
}

.user-login .user-login__btn--acc {
	width: 103px;
	margin-right: 72px;
}

.user-login .user-login__profile {
	width: 299px;
	min-height: 45px;
	margin-bottom: 7px;
	margin-left: 1px;

	font-size: 0;

	background-color: #ffffff;
}

.user-login .user-login__icon {
	bottom: 14px;

	opacity: 1;

	fill: #c5c5c5;
}


.user-login .user-login__icon--login {
	left: 14px;
}

.user-login .user-login__icon--logoff {
	left: 9px;
}

.user-login .user-login__icon--name {
	left: 13px;
}

.navigation-main {
	width: 940px;
	min-height: 55px;

	background-color: #32425c;
	border-bottom: 5px solid #293449;
}

.main-menu-list {
	width: 904px;
	min-height: 55px;
	margin: 0 auto;
	padding: 0;

	list-style: none;
	font-size: 0;
}

.main-menu-list li {
	display: inline-block;
	max-width: 904px;
	margin: 0;
	padding: 0;

	vertical-align: top;
}

.main-menu-list .main-menu-list__item {
	display: block;
	min-height: 36px;
	padding-top: 19px;
	padding-right: 31px;
	padding-left: 31px;

	font-size: 17px;
	line-height: 20px;
	color: #ffffff;

	background-color: #32425c;
}

.main-menu-list .main-menu-list__item:hover {
	background-color: #293449;
}

.main-menu-list .main-menu-list__item:active {
	color: rgba(255,255,255, 0.5);

	background-color: #1d2739;
}



.promo {
	width: 940px;
	min-height: 429px;
	margin-bottom: 33px;
}

.promo .flag-new::before {
	top: 0;
	right: 0;
}

.promo-wrap-top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	    flex-wrap: wrap;
	min-height: 143px;

	-ms-flex-wrap: wrap;
}

.promo-item {
	position: relative;

	width: 300px;
	min-height: 123px;
}

.promo-wrap-top .promo-item {
	margin-right: 20px;
	margin-bottom: 20px;
}

.promo-wrap-top .promo-item:nth-child(3n) {
	margin-right: 0;
}

.promo-item::after {
	content: "";
	position: absolute;

	background-repeat: no-repeat;
	background-position: center;
}

.promo-item .promo-item__title {
	margin: 0;
	padding: 0;
	padding-top: 21px;
	padding-left: 23px;

	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	color: #ffffff;

	overflow-wrap: break-word;
}

.promo-item .promo-item__btn {
	display: block;
	width: 135px;
	min-height: 27px;
	margin-top: 12px;
	margin-left: 25px;
	padding-top: 11px;

	font-size: 14px;
	line-height: 18px;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;

	background-color: rgba(0,0,0, 0.1);
	border-radius: 3px;
}

.promo-item .promo-item__btn:hover {
	background-color: rgba(0,0,0, 0.2);
}

.promo-item .promo-item__btn:active {
	background-color: rgba(0,0,0, 0.3);
}

.promo-item .promo-item__btn--right {
	margin-left: 23px;
}

.promo-item--materials {
	background-color: #ffbf47;
}

.promo-item--materials::after {
	top: 31px;
	right: 43px;

	width: 44px;
	height: 65px;

	background-image: url("../img/icon-1.svg");
}

.promo-item--tools {
	background-color: #3bbce3;
}

.promo-item--tools::after {
	top: 33px;
	right: 27px;

	width: 75px;
	height: 61px;

	background-image: url("../img/icon-2.svg");
}

.promo-item--technique {
	background-color: #dc91d8;
}

.promo-item--technique::after {
	top: 31px;
	right: 31px;

	width: 78px;
	height: 62px;

	background-image: url("../img/icon-3.svg");
}

.promo-item--discount {
	background-color: #8ed78f;
}

.promo-item--discount::after {
	top: 26px;
	right: 45px;

	width: 59px;
	height: 72px;

	background-image: url("../img/icon-4.svg");
}

.promo-item--shipping {
	background-color: #ffc047;
}

.promo-item--shipping::after {
	top: 32px;
	right: 31px;

	width: 78px;
	height: 63px;

	background-image: url("../img/icon-5.svg");
}


.promo-wrap-bottom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	    flex-wrap: wrap;
	width: 940px;
	min-height: 286px;

	-ms-flex-wrap: wrap;
}

.promo-wrap-bottom .promo-wrap-bottom__right {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	    flex-direction: column;
	width: 300px;
	min-height: 286px;

	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
}

.promo-wrap-bottom .promo-item {
	margin-bottom: 20px;
}

.promo-slider-wrap {
	position: relative;

	width: 620px;
	min-height: 266px;
	margin-right: 20px;
	margin-bottom: 20px;

	background-color: #000000;
}

.promo-slider-controls {
	position: absolute;
	bottom: 36px;
	left: 50%;
	z-index: 10;

	width: 40px;
	min-height: 10px;
	margin: 0;
	margin-left: -20px;
	padding: 0;

	font-size: 0;
	line-height: 0;
	text-align: center;
}

.controls {
	display: inline-block;
	width: 6px;
	height: 6px;
	margin: 0;
	padding: 0;

	font-size: 0;

	background-color: #ffffff;
	border: 2px solid #ffffff;
	border-radius: 50% 50%;
	cursor: pointer;
}

.promo-slider-controls .controls:first-of-type {
	margin-right: 10px;
}

.promo-point-left,
.promo-point-right {
}


.promo-slide {
	position: absolute;

	color: #ffffff;
}

.promo-slide .promo-slide__title {
	position: absolute;
	top: 19px;
	left: 24px;

	margin: 0;
	padding: 0;

	font-size: 36px;
	line-height: 43px;
	text-transform: uppercase;
}
.promo-slide .promo-slide__description {
	position: absolute;
	top: 61px;
	left: 25px;

	margin: 0;
	padding: 0;

	font-size: 18px;
	line-height: 22px;
	font-family: "PT Sans", "Times New Roman", sans-serif;
}

.promo-slides {
}

.promo-point-left:checked ~ .promo-slider-controls .controls-1,
.promo-point-right:checked ~ .promo-slider-controls .controls-2 {
	background-color: #ee3643;
}

.promo-point-left:focus ~ .promo-slider-controls .controls-1,
.promo-point-right:focus ~ .promo-slider-controls .controls-2 {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
}

.promo-point-left:checked ~ .promo-slides .promo-slide--pp1,
.promo-point-right:checked ~ .promo-slides .promo-slide--pp2 {
	z-index: 5;
}

.promo-slider-wrap .promo-slider-wrap__red-btn {
	position: absolute;
	bottom: 22px;
	left: 25px;
	z-index: 10;

	width: 192px;
	padding-left: 3px;
}

.slider-btn {
	position: absolute;
	bottom: 112px;
	z-index: 10;

	display: block;
	width: 22px;
	height: 40px;
	margin: 0;
	padding: 0;

	font-size: 0;

	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	border: 0 none;
	cursor: pointer;
}

.slider-btn--prev {
	left: 25px;

	background-image: url("../img/icon-left.svg");
}

.slider-btn--next {
	right: 20px;

	background-image: url("../img/icon-right.svg");
}



.popular-products {
	min-height: 427px;
	margin-bottom: 1px;
}

.popular-manufacturers {
	min-height: 419px;
	margin-bottom: 65px;
}

.popular-products-wrap,
.popular-manufacturers-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 940px;
	min-height: 89px;
	margin-bottom: 20px;

	background-color: #f9f5f0;
}

.popular-products .popular-products__title,
.popular-manufacturers .popular-manufacturers__title {
	width: 400px;
	min-height: 38px;
	margin: 0;
	margin-top: 30px;
	margin-right: auto;
	margin-left: 28px;
	padding: 0;

	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	text-transform: uppercase;

	overflow-wrap: break-word;
}

.popular-manufacturers .popular-manufacturers__title {
	margin-left: 24px;

	overflow-wrap: break-word;
}

.popular-products .popular-products__red-btn,
.popular-manufacturers .popular-popular-manufacturers__red-btn {
	width: 253px;
	margin-top: 25px;
	margin-right: 24px;
	margin-bottom: 26px;
	margin-left: auto;
}

.products,
.manufacturers {
	list-style: none;
}

.products {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	    flex-wrap: wrap;
	justify-content: flex-start;
	margin: 0;
	padding: 0;

	-webkit-box-pack: start;
	-ms-flex-pack: start;
	-ms-flex-wrap: wrap;
}

.product {
	position: relative;

	width: 218px;
	min-height: 316px;
	margin-right: 20px;
	margin-bottom: 20px;

	font-family: "PT Sans", "Times New Roman", sans-serif;
	text-align: center;
	color: #000000;

	background-color: #ffffff;
	border: 1px solid #eaeaea;
}

.popular-products .product:nth-child(4n) {
	margin-right: 0;
}

.product:hover,
.manufacturer:hover {
	border: 1px solid #ffffff;
	-webkit-box-shadow: 0 10px 20px 0 rgba(41,52,73, 0.5),
	0 0 5px 0 rgba(41,52,73, 0.5);
	        box-shadow: 0 10px 20px 0 rgba(41,52,73, 0.5),
	0 0 5px 0 rgba(41,52,73, 0.5);
}
.product:hover .hover-product {
	z-index: 4;
}

.flag-new::before {
	content: "";
	position: absolute;
	top: -1px;
	right: -1px;
	z-index: 5;

	width: 60px;
	height: 59px;

	background-image: url("../img/new-flag.png");
	background-repeat: no-repeat;
	background-position: center;
}

.product .product__title {
	width: 165px;
	margin: 0;
	margin-bottom: 11px;
	padding: 0;
	padding-top: 5px;
	padding-left: 26px;

	font-weight: bold;
	font-size: 18px;
	line-height: 20px;

	overflow-wrap: break-word;
}

.product .product__price {
	margin: 0;
	padding: 0;

	font-weight: bold;
	font-size: 17px;
	line-height: 18px;
}

.product .product__discount {
	display: block;
	min-height: 18px;
	margin-bottom: 10px;
	margin-left: 3px;

	color: #a9a9a9;
	text-decoration: line-through;
}

.product .product__cost {
	position: relative;

	display: block;
	width: 86px;
	min-height: 28px;
	margin-left: 42px;
	padding-top: 10px;
	padding-left: 36px;

	text-align: left;
	color: #ffffff;

	background-color: #ee3643;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

/*!-- Decoration -> */

.product .product__cost::after {
	content: "";
	position: absolute;
	top: 0;
	right: -38px;

	border: 19px solid transparent;
	border-left-color: #ee3643;
}

/* Decoration -> --!*/

.manufacturers {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	    flex-wrap: wrap;
	width: 940px;
	min-height: 330px;
	margin: 0;
	padding: 0;

	-ms-flex-wrap: wrap;
}

.manufacturers li {
	width: 220px;
	min-height: 145px;
	margin: 0;
	margin-right: 20px;
	margin-bottom: 20px;
	padding: 0;
}

.manufacturers li:nth-child(4n) {
	margin-right: 0;
}

.manufacturer {
	display: block;
	width: 218px;
	height: 143px;

	border: 1px solid #ebebeb;
}

.manufacturer:active {
	opacity: 0.3;
}

.services-wrap {
	width: inherit;
	min-height: 522px;
	margin-bottom: 82px;

	background-color: #f4f8f9;
}

.services {
	position: relative;

	min-height: 454px;
	padding-top: 68px;
}

.services::after {
	content: "";
	position: absolute;
	bottom: 56px;
	left: 230px;

	width: 10px;
	height: 272px;

	background-image: url("../img/serv-menu.png");
	background-repeat: no-repeat;
	background-position: center;
}

.services .services__title {
	width: 400px;
	margin: 0;
	margin-bottom: 29px;
	padding: 0;

	font-weight: normal;
	font-size: 30px;
	line-height: 24px;
	text-transform: uppercase;

	overflow-wrap: break-word;
}

.services .services__description {
	width: 400px;
	min-height: 70px;
	margin: 0;
	margin-bottom: 47px;
	padding: 0;

	font-size: 13px;
	line-height: 24px;
	font-family: "PT Sans", "New Times Roman", serif;
}

.service-slider-wrap {
	min-height: 284px;
}

.flex-wrap-ie11fix {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	min-height: 284px;

	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
}

.service-slider-controls {
	width: 240px;
}

.service-slider-controls {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	    flex-direction: column;
	margin: 0;
	padding: 0;

	list-style: none;

	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
}

.service-slider-control {
	margin: 0;
	padding: 0;
}

.service-slider-control:nth-of-type(2) {
	border-top: 1px solid #4d637b;
	border-bottom: 1px solid #4d637b;
}

.service-slider__btn {
	display: block;
	min-height: 47px;
	margin: 0;
	padding: 0;
	padding-top: 13px;
	padding-left: 22px;

	font-weight: bold;
	font-size: 21px;
	line-height: 30px;
	color: #ffffff;

	background-color: #32425c;
	cursor: pointer;
}

.service-slider__btn:hover {
	background-color: #293449;
}

.service-slides {
	position: relative;

	width: 620px;
	min-height: 284px;
}

.service-slide {
	position: absolute;
	z-index: -1;

	width: 620px;
	min-height: 284px;
}

.service-slide .service-slide__title {
	position: relative;
	z-index: 3;

	margin: 0;
	margin-bottom: 31px;
	padding: 0;
	padding-top: 4px;

	font-weight: normal;
	font-size: 36px;
	line-height: 24px;
	color: #32425c;
	text-transform: uppercase;

	overflow-wrap: break-word;
}

.service-slide .service-slide__description {
	position: relative;
	z-index: 3;

	margin: 0;
	padding: 0;

	font-size: 13px;
	line-height: 24px;
	font-family: "PT Sans", "New Times Roman", serif;
}

.service-slide .service-slide__description--sp1 {
	width: 280px;
}

.service-slide .service-slide__description--sp2 {
	width: 390px;
}

.service-slide .service-slide__description--sp3 {
	width: 280px;
	margin-bottom: 26px;
}

.service-slide img {
	position: absolute;
	right: -10px;
	bottom: 0;
	z-index: 2;
}

.service-slide .service-slide__red-btn {
	position: relative;
	z-index: 3;

	width: 195px;
}

.service-point-1:checked ~ .flex-wrap-ie11fix .service-slider__btn--1,
.service-point-2:checked ~ .flex-wrap-ie11fix .service-slider__btn--2,
.service-point-3:checked ~ .flex-wrap-ie11fix .service-slider__btn--3 {
	color: #32425c;

	background-color: #ffffff;
}

.service-point-1:focus ~ .flex-wrap-ie11fix .service-slider__btn--1,
.service-point-2:focus ~ .flex-wrap-ie11fix .service-slider__btn--2,
.service-point-3:focus ~ .flex-wrap-ie11fix .service-slider__btn--3 {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
}

.service-point-1:checked ~ .flex-wrap-ie11fix .service-slide--sp1,
.service-point-2:checked ~ .flex-wrap-ie11fix .service-slide--sp2,
.service-point-3:checked ~ .flex-wrap-ie11fix .service-slide--sp3 {
	z-index: 1;
}

.container-about-company {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	min-height: 368px;
	margin-bottom: 86px;

	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
}

.company-technomart {
	width: 540px;
}

.company-technomart .company-technomart__title,
.main-contacts .main-contacts__title {
	margin: 0;
	margin-bottom: 29px;
	padding: 0;

	font-weight: normal;
	font-size: 30px;
	line-height: 24px;
	text-transform: uppercase;

	overflow-wrap: break-word;
}

.company-technomart .company-technomart__description {
	margin: 0;
	margin-bottom: 24px;
	padding: 0;

	font-size: 13px;
	line-height: 24px;
	font-family: "PT Sans", "New Times Roman", serif;
}

.company-technomart .company-technomart__description--second {
	width: 400px;
	margin-bottom: 21px;
}

.routes-list {
	margin: 0;
	margin-bottom: 36px;
	margin-left: 36px;
	padding: 0;

	list-style: none;
	list-style-image: url("../img/line-red.svg");
}

.routes-list .routes-list__item {
	margin-bottom: 20px;

	font-size: 18px;
	line-height: 20px;

	overflow-wrap: break-word;
}

.company-technomart .company-technomart__red-btn {
	width: 220px;
}

.main-contacts {
	width: 300px;
}

.main-contacts .main-contacts__description {
	width: 190px;
	margin: 0;
	margin-bottom: 31px;
	padding: 0;

	font-size: 13px;
	line-height: 24px;
	font-family: "PT Sans", "New Times Roman", serif;
}

.main-contacts .main-contacts__map {
	width: 300px;
	height: 158px;
	margin-bottom: 40px;
}

.main-contacts .main-contacts__red-btn {
	width: 300px;
	min-height: 38px;
	padding-left: 64px;

	text-align: left;
}

.footer-main {
	color: #ffffff;

	background-color: #32425c;
}

.footer-main-top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: 63px;
	margin-bottom: 20px;
}

.footer-main-middle {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: 110px;
}

.footer-menu-upper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	    flex-wrap: wrap;
	justify-content: flex-end;
	width: 549px;
	margin: 0;
	margin-top: 31px;
	margin-left: auto;
	padding: 0;

	list-style: none;

	background-color: #32425c;

	-webkit-box-pack: end;
	-ms-flex-pack: end;
	-ms-flex-wrap: wrap;
}

.footer-menu-lower {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	    flex-wrap: wrap;
	justify-content: flex-end;
	width: 525px;
	margin: 0;
	margin-top: 6px;
	margin-left: auto;
	padding: 0;

	list-style: none;

	background-color: #32425c;

	-webkit-box-pack: end;
	-ms-flex-pack: end;
	-ms-flex-wrap: wrap;
}

.footer-menu-upper .footer-menu-upper__item,
.footer-menu-lower .footer-menu-lower__item {
	font-size: 18px;
	line-height: 22px;
	color: #ffffff;

	background-color: #32425c;
}

.footer-menu-upper li,
.footer-menu-lower li {
	margin-left: 59px;
}

.footer-menu-upper li:nth-child(5n+1),
.footer-menu-lower li:nth-child(4n+1) {
	margin-left: 0;
}

.footer-menu-lower .footer-menu-lower__item {
	color: #ffd180;
}

.footer-menu-upper .footer-menu-upper__item:hover,
.footer-menu-lower .footer-menu-lower__item:hover {
	text-decoration: underline;
}

.footer-menu-upper .footer-menu-upper__item:active {
	color: rgba(255,255,255, 0.5);
	text-decoration: none;
}

.footer-menu-lower .footer-menu-lower__item:active {
	color: rgba(255,209,128, 0.5);
	text-decoration: none;
}

.footer-main-contacts {
	width: 340px;
	margin: 0;
	margin-right: auto;
	padding: 0;
	padding-top: 13px;
	padding-left: 3px;

	font-size: 18px;
	line-height: 24px;
}

.footer-main-bottom-wrap {
	background-color: #293449;
}

.footer-main-bottom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: 71px;
	padding-top: 36px;

	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
}

.footer-copyright-technomart {
	width: 240px;
	margin: 0;
	margin-right: 151px;
	padding: 0;
	padding-top: 1px;
	padding-left: 1px;

	font-size: 16px;
	line-height: 18px;
}

.footer-social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	    flex-wrap: wrap;
	justify-content: space-between;
	width: 130px;
	margin: 0;
	margin-right: 119px;
	padding: 0;

	list-style: none;

	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	-ms-flex-wrap: wrap;
}

.footer-social li {
	margin: 0;
	padding: 0;
}

.footer-social .footer-social__btn {
	display: block;
	width: 40px;
	min-height: 40px;

	font-size: 0;
	color: #ffffff;

	background-color: #212a3a;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50% 50%;
}

.footer-social .footer-social__btn:hover,
.footer-social .footer-social__btn:active {
	background-color: #ee3643;
}

.footer-social .footer-social__btn--vk {
	background-image: url(../img/icon-vk.svg);
}

.footer-social .footer-social__btn--fb {
	background-image: url(../img/icon-fb.svg);
}

.footer-social .footer-social__btn--ig {
	background-image: url(../img/icon-insta.svg);
}

.footer-feedback {
	width: 139px;
	margin-right: 20px;
	padding-top: 1px;
	padding-left: 1px;
}

.footer-copyright-htmlacademy {
	width: 111px;
	padding-top: 1px;
	padding-left: 29px;
}

.footer-feedback .footer-feedback__btn,
.footer-copyright-htmlacademy .footer-copyright-htmlacademy__btn {
	color: #ffd180;
}

.footer-feedback .footer-feedback__btn:hover,
.footer-copyright-htmlacademy .footer-copyright-htmlacademy__btn:hover {
	text-decoration: underline;
}

.footer-feedback .footer-feedback__btn:active,
.footer-copyright-htmlacademy .footer-copyright-htmlacademy__btn:active {
	color: #ee3643;
	text-decoration: none;
}

.hover-product {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;

	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 218px;
	min-height: 170px;
	padding-top: 44px;

	text-align: left;

	background-color: #ffffff;
}

.hover-product .hover-product__buy {
	position: relative;

	display: block;
	width: 135px;
	min-height: 38px;
	margin: 0;
	margin: 0 auto;
	margin-bottom: 7px;
	margin-left: 41px;
	padding: 0;
	padding-top: 6px;

	font-size: 14px;
	line-height: 18px;
	font-family: "Cuprum", "Times New Roman", sans-serif;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #63a63e;
	border: 0 none;
	border-bottom: 3px solid #367315;
	border-radius: 3px;
	outline: 0;
	cursor: pointer;
}

.hover-product .hover-product__icon {
	position: absolute;
	top: 11px;
	left: 12px;

	width: 15px;
	min-height: 15px;

	opacity: 0.3;
}

.hover-product .hover-product__buy:hover {
	background-color: #5fbb2d;
	border-bottom: 3px solid #367315;
}

.hover-product__buy:hover .hover-product__icon {
	opacity: 1;
}

.hover-product .hover-product__buy:active {
	background-color: #518534;
	border-bottom: 3px solid #518534;
}

.hover-product__buy:active .hover-product__icon {
	opacity: 1;
}

.hover-product .hover-product__bookmark {
	display: block;
	width: 135px;
	min-height: 38px;
	margin: 0;
	margin-left: 41px;
	padding: 0;

	font-size: 14px;
	line-height: 17px;
	font-family: "Cuprum", "Times New Roman", sans-serif;
	color: #000000;
	text-transform: uppercase;

	background-color: #ffffff;
	border: 3px solid #63a63e;
	border-radius: 3px;
	outline: 0;
	cursor: pointer;
}

.hover-product .hover-product__bookmark:hover {
	border: 3px solid #32425c;
}

.hover-product .hover-product__bookmark:active {
	color: rgba(0,0,0, 0.3);

	border: 3px solid rgba(0,0,0, 0.3);
}

.modal {
	position: fixed;
	top: 15%;
	left: 50%;
	z-index: 10;
}


.modal-map {
	display: none;
	width: 940px;
	height: 446px;
	margin-left: -470px;

	background-color: #ffffff;
	background-image: url("../img/modal-map-1.jpg");
	background-repeat: no-repeat;
	background-position: center;
	-webkit-box-shadow: 0 0 16px 0 rgba(47,42,43, 0.5);
	        box-shadow: 0 0 16px 0 rgba(47,42,43, 0.5);
}

.btn-close {
	position: absolute;
	top: 9px;
	right: 9px;

	width: 21px;
	min-height: 21px;
	margin: 0;
	padding: 0;

	font-size: 0;

	background-color: transparent;
	background-image: url("../img/form-2.svg");
	background-repeat: no-repeat;
	background-position: center;
	border: 0;
	cursor: pointer;
}

.modal-feedback {
	display: none;
	width: 620px;
	min-height: 430px;
	margin-left: -310px;

	background-color: #ffffff;
	border-top: 7px solid #ee3643;
	-webkit-box-shadow: 0 0 40px 0 rgba(47,42,43, 0.5);
	        box-shadow: 0 0 40px 0 rgba(47,42,43, 0.5);
}

.modal-feedback .modal-feedback__container {
	width: 460px;
	margin: 0 auto;
	padding: 0 10px;
}

.modal-feedback .modal-feedback__top-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	min-height: 75px;
	margin-top: 37px;
	margin-bottom: 11px;

	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
}

.modal-feedback .modal-feedback__top-left,
.modal-feedback .modal-feedback__top-right {
	width: 220px;
}

.modal-feedback .modal-feedback__title {
	display: block;
	min-height: 18px;
	margin: 0;
	margin-bottom: 8px;
	padding: 0;
	padding-top: 9px;

	font-size: 18px;
	line-height: 18px;

	overflow-wrap: break-word;
}

.modal-feedback .modal-feedback__input {
	width: 190px;
	min-height: 32px;
	margin: 0;
	padding: 0 13px;
	padding-bottom: 2px;

	font-size: 13px;
	line-height: 18px;
	font-family: "PT Sans", "Times New Roman", sans-serif;

	border: 2px solid #dee3e4;
}

.modal-feedback .modal-feedback__input::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #a9a9a9;
}

.modal-feedback .modal-feedback__input::-moz-placeholder {
	/* Firefox 19+ */
	color: #a9a9a9;
}
.modal-feedback .modal-feedback__input:-ms-input-placeholder {
	/* IE 10+ */
	color: #a9a9a9;
}

.modal-feedback .modal-feedback__title--latter {
	margin-bottom: 10px;
}

.modal-feedback .modal-feedback__latter {
	display: block;
	width: 430px;
	min-height: 96px;
	margin: 0;
	margin-bottom: 74px;
	padding: 0;
	padding: 7px 13px;

	font-size: 13px;
	line-height: 18px;
	font-family: "PT Sans", "Times New Roman", sans-serif;

	border: 2px solid #dee3e4;
}

.modal-feedback .modal-feedback__latter::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #a9a9a9;
}

.modal-feedback .modal-feedback__latter::-moz-placeholder {
	/* Firefox 19+ */
	color: #a9a9a9;
}
.modal-feedback .modal-feedback__latter:-ms-input-placeholder {
	/* IE 10+ */
	color: #a9a9a9;
}

.modal-feedback .modal-feedback__red-btn {
	width: 460px;
}

/*		catalog.html		*/

.header-main--inner {
	margin-bottom: 20px;
}

.breadcrumbs-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	    flex-wrap: wrap;
	width: 940px;
	min-height: 18px;
	margin: 0;
	margin-bottom: 21px;
	margin-left: -2px;
	padding: 0;

	list-style: none;

	-ms-flex-wrap: wrap;
	overflow-wrap: break-word;
}

.breadcrumbs-list li {
	position: relative;

	margin: 0;
	padding: 0;

	overflow-wrap: break-word;
}

.breadcrumbs-list .breadcrumbs-list__item {
	display: block;
	padding-top: 1px;
	padding-right: 18px;
	padding-left: 25px;

	font-size: 13px;
	line-height: 18px;
	font-family: "PT Sans", "New Times Roman", serif;
	color: #000000;
	text-transform: uppercase;

	overflow-wrap: break-word;
}

.breadcrumbs-list .breadcrumbs-list__item--main {
	width: 29px;
	min-height: 18px;
	padding: 0;

	font-size: 0;

	background-image: url("../img/icon-home.svg");
	background-repeat: no-repeat;
	background-position: 0 center;
}

.breadcrumbs-list li + li:before {
	content: "";
	position: absolute;
	top: 3px;
	left: 1px;

	width: 6px;
	height: 12px;

	background-image: url("../img/icon-right-small.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.main-container__title {
	min-height: 60px;
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
	padding-top: 29px;
	padding-left: 28px;

	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	text-transform: uppercase;

	background-color: #f2f6f8;

	overflow-wrap: break-word;
}


.two-column-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	min-height: 1142px;
	margin-bottom: 128px;

	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
}

.two-column-wrap .two-column-wrap__left {
	width: 220px;
}

.two-column-wrap .two-column-wrap__right {
	width: 700px;
}

.filters {
}

.filter-input {
}

.filters-title {
	min-height: 29px;
	margin: 0;
	margin-bottom: 11px;
	padding: 0;
	padding-top: 9px;
	padding-left: 19px;

	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
	font-family: "PT Sans", "New Times Roman", serif;
	text-transform: uppercase;

	background-color: #f7f3ec;

	overflow-wrap: break-word;
}

.form-filters {
	margin: 0;
	padding: 0;

	border: 0;
}

.filter-price,
.filter-manufacturers,
.filter-power {
	margin: 0;
	padding: 0;

	border: 0;
}

.filter-price,
.filter-manufacturers {
	margin-bottom: 18px;

	border-bottom: 1px solid #e5e5e5;
}


.filter-price .filter-price__title,
.filter-manufacturers .filter-manufacturers__title,
.filter-power .filter-power__title {
	display: block;
	width: 145px;
	margin: 0;
	padding: 0;

	font-weight: bold;
	font-size: 17px;
	line-height: 30px;
	font-family: "PT Sans", "New Times Roman", serif;
	text-transform: uppercase;

	overflow-wrap: break-word;
}

.filter-price .filter-price__title {
	margin-bottom: 14px;
}

.filter-manufacturers .filter-manufacturers__title {
	margin-bottom: 13px;
}

.filter-power .filter-power__title {
	margin-bottom: 11px;
}

.range-controls {
	position: relative;

	height: 41px;
	margin-bottom: 9px;
	padding-top: 39px;

	background-color: #f7f3ec;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.range-controls .range-controls__bar {
	width: 180px;
	height: 2px;
	margin-left: 20px;

	background-color: #d7dcde;
}

.range-controls .range-controls__scale {
	width: 84%;
	height: 2px;

	background-color: #00ca74;
}

.range-controls .range-controls__toggle {
	position: absolute;
	top: 30px;

	width: 4px;
	height: 4px;

	background-color: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50% 50%;
	-webkit-box-shadow: 0 2px 1px 0 #cdcbc7;
	        box-shadow: 0 2px 1px 0 #cdcbc7;
	cursor: pointer;
}

.range-controls .range-controls__toggle--min {
	left: 20px;
}

.range-controls .range-controls__toggle--max {
	right: 40px;
}


.price-controls {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	margin-bottom: 24px;

	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
}

.price-controls .price-controls__min,
.price-controls .price-controls__max {
	display: block;
	width: 95px;
	min-height: 38px;
	margin: 0;
	padding: 0;

	font-size: 17px;
	line-height: 18px;
	font-family: "PT Sans", "New Times Roman", serif;
	text-align: center;

	background-color: #f7f3ec;
	border: 0;
	border-radius: 3px;
}

.price-controls .price-controls__separator {
	padding-top: 9px;

	font-size: 16px;
	line-height: 18px;
	font-family: "PT Sans", "New Times Roman", serif;
}



.manufacturers-list,
.power-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	    flex-direction: column;
	margin: 0;
	margin-bottom: 19px;
	padding: 0;

	list-style: none;

	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
}

.power-list {
	margin-bottom: 77px;
}

.manufacturers-list .manufacturers-list__item,
.power-list .power-list__item {
	position: relative;

	min-height: 23px;
	margin-bottom: 17px;

	font-size: 15px;
	line-height: 20px;
	font-family: "PT Sans", "New Times Roman", serif;
	text-transform: uppercase;
}

.manufacturers-list .manufacturers-list__item:last-child,
.power-list .power-list__item:last-child {
	margin-bottom: 0;
}

.manufacturers-list .manufacturers-list__item {
	width: 140px;
}

.manufacturers-list .manufacturers-list__item:before {
}

.power-list .power-list__item {
	width: 160px;
}

.manufacturers-list label {
	display: block;
	width: 105px;
	min-height: 20px;
	margin: 0;
	padding: 0;
	padding-left: 34px;

	cursor: pointer;

	overflow-wrap: break-word;
}

.manufacturers-list label::before {
	content: "";
	position: absolute;
	top: -1px;
	left: 0;

	width: 23px;
	height: 23px;

	background-color: transparent;
	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.manufacturers-list input[type=checkbox]:not(:disabled) + label:hover::before {
	background-image: url("../img/checkbox-off-hover.svg");
}

.manufacturers-list input[type=checkbox]:checked + label::before {
	width: 27px;
	height: 23px;

	background-image: url("../img/checkbox-on.svg");
}

.manufacturers-list input[type=checkbox]:not(:disabled):checked + label:hover::before {
	width: 27px;
	height: 23px;

	background-image: url("../img/checkbox-on-hover.svg");
}

.manufacturers-list input[type=checkbox]:disabled + label {
	cursor: default;
	opacity: 0.3;
}

.manufacturers-list input[type=checkbox]:focus + label {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
}

.power-list label {
	display: block;
	width: 130px;
	min-height: 20px;
	margin: 0;
	padding: 0;
	padding-left: 34px;

	cursor: pointer;

	overflow-wrap: break-word;
}

.power-list label::before {
	content: "";
	position: absolute;
	top: -2px;
	left: -1px;

	width: 25px;
	height: 25px;

	background-color: transparent;
	background-image: url("../img/radio-off.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.power-list input[type=radio]:not(:disabled) + label:hover::before {
	background-image: url("../img/radio-off-hover.svg");
}

.power-list input[type=radio]:checked + label::before {
	background-image: url("../img/radio-on.svg");
}

.power-list input[type=radio]:not(:disabled):checked + label:hover::before {
	background-image: url("../img/radio-on-hover.svg");
}

.power-list input[type=radio]:disabled + label {
	cursor: default;
	opacity: 0.3;
}

.power-list input[type=radio]:focus + label {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
}

.form-filters .form-filters__btn {
	display: block;
	width: 140px;
	min-height: 38px;
	margin: 0;
	padding: 0;

	font-size: 13px;
	line-height: 18px;
	font-family: "PT Sans", "New Times Roman", serif;
	text-transform: uppercase;

	background-color: #ffffff;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	cursor: pointer;

	overflow-wrap: break-word;
}

.form-filters .form-filters__btn:hover {
	border: 1px solid #bdc6ca;
}

.form-filters .form-filters__btn:active {
	border: 1px solid #ee3643;
	outline: 0;
}

.sorting {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 36px;
	margin-bottom: 20px;
	padding-bottom: 2px;

	background-color: #f7f3ec;

	-webkit-box-align: center;
	-webkit-box-pack: justify;
	-ms-flex-align: center;
	-ms-flex-pack: justify;
}

.sorting-title {
	width: 121px;
	min-height: 27px;
	margin: 0;
	padding: 0;
	padding-top: 9px;
	padding-left: 19px;

	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
	font-family: "PT Sans", "New Times Roman", serif;
	text-transform: uppercase;

	overflow-wrap: break-word;
}

.sorting-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	    flex-wrap: wrap;
	align-items: center;
	width: 460px;
	margin: 0;
	padding: 0;

	list-style: none;

	-webkit-box-align: center;
	-ms-flex-align: center;
	-ms-flex-wrap: wrap;
}

.sorting-list .sorting-list__item {
	margin: 0;
	padding: 0;

	font-weight: normal;
	font-size: 13px;
	line-height: 16px;
	font-family: "PT Sans", "New Times Roman", serif;
	color: rgba(0,0,0, 0.3);
	text-transform: uppercase;

	border-bottom: 1px dotted #ee3643;
	cursor: pointer;
}

.sorting-list .sorting-list__item:nth-child(1) {
	margin-right: 70px;
}

.sorting-list .sorting-list__item:nth-child(2) {
	margin-right: 65px;
}

.sorting-list .sorting-list__item:nth-child(3) {
	margin-right: 47px;
}

.sorting-list .sorting-list__item:nth-child(4) {
	margin-right: 21px;
}

.sorting-list .sorting-list__item:nth-child(5) {
	margin-right: 16px;
}

.sorting-list .sorting-list__item:hover {
	color: #000000;

	border-bottom: 1px solid #ee3643;
}

.sorting-list .sorting-list__item:active {
	color: #ee3643;

	border-bottom: 0;
}

.sorting-list .sorting-list__item--up,
.sorting-list .sorting-list__item--down {
	position: relative;

	width: 11px;
	height: 10px;

	font-size: 0;

	border-bottom: 0;
}

.sorting-list .sorting-list__item--up:hover,
.sorting-list .sorting-list__item--down:hover {
	border: 0;
}

.icon-up,
.icon-down {
	position: absolute;
	top: 0;

	fill: #c5c5c5;
}

.icon-up:hover,
.icon-down:hover {
	fill: #000000;
}

.icon-up:active,
.icon-down:active {
	fill: #ee3643;
}

.catalog-perforators .products {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	    flex-wrap: wrap;
	width: 700px;
	min-height: 1014px;
	margin: 0;
	margin-bottom: 32px;
	padding: 0;

	-ms-flex-wrap: wrap;
}

.catalog-perforators .product:nth-child(3n) {
	margin-right: 0;
}

.pagination-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	    flex-wrap: wrap;
	justify-content: space-between;
	width: 284px;
	margin: 0;
	padding: 0;

	list-style: none;

	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	-ms-flex-wrap: wrap;
}

.pagination-list .pagination-list__item {
	display: block;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 38px;
	min-height: 38px;
	padding-top: 11px;

	font-weight: normal;
	font-size: 13px;
	line-height: 16px;
	font-family: "PT Sans", "New Times Roman", serif;
	text-align: center;
	color: #000000;

	background-color: #ffffff;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
}

.pagination-list .pagination-list__item:hover {
	border: 1px solid #bdc6ca;
}

.pagination-list .pagination-list__item:active {
	color: #000000;

	border: 1px solid #ee3643;
}

.pagination-list .pagination-list__item--current,
.pagination-list .pagination-list__item--current:hover,
.pagination-list .pagination-list__item--current:active {
	color: #ffffff;

	background-color: #ee3643;
	border: 0 none;
	outline: 0;
	cursor: default;
}

.pagination-list .pagination-list__item--last {
	width: 140px;

	text-transform: uppercase;
}

.about-perforators {
	min-height: 130px;
	margin-bottom: 63px;
}

.about-perforators .about-perforators__title {
	margin: 0;
	margin-bottom: 29px;
	padding: 0;

	font-weight: normal;
	font-size: 30px;
	line-height: 24px;
	text-transform: uppercase;

	overflow-wrap: break-word;
}

.about-perforators .about-perforators__description {
	margin: 0;
	padding: 0;

	font-size: 13px;
	line-height: 24px;
	font-family: "PT Sans", "New Times Roman", serif;
}

.modal-add {
	display: none;
	width: 620px;
	min-height: 275px;
	margin-left: -310px;

	background-color: #ffffff;
	border-top: 7px solid #ee3643;
	-webkit-box-shadow: 0 0 40px 0 rgba(47,42,43, 0.5);
	        box-shadow: 0 0 40px 0 rgba(47,42,43, 0.5);
}

.modal-add::before {
	content: "";
	position: absolute;
	top: 48px;
	left: 81px;

	width: 66px;
	height: 66px;

	background-image: url("../img/form-1.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.modal-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	width: 460px;
	margin: 0 auto;

	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
}

.modal-add .modal-add__title {
	width: 380px;
	margin: 0 auto;
	margin-top: 68px;
	margin-bottom: 80px;
	padding: 0;
	padding-left: 35px;

	font-size: 30px;
	line-height: 18px;
	text-align: right;

	overflow-wrap: break-word;
}

.modal-add-bottom {
	min-height: 76px;
	padding-top: 36px;

	background-color: #f1f1f1;
}

.modal-add .modal-add__btn {
	width: 220px;

	font-size: 14px;
	line-height: 18px;
}

.modal-add .modal-add__btn--continue {
	color: #000000;

	background-color: #ffffff;
}
